body {
  margin: 0;
}
h1 {
  font-size: 1.25em;
  text-align: center;
  background: #444;
  color: #eee;
  margin: 0;
  padding: 0.5em;
}
h2 {
  margin-top: 0;
}
/* leaves room for footer: */
main {
  padding-bottom: 2em;
}

/*
  Hides radio button 'input' tags but not their labels,
  also styles section tags and hides them:
*/
main > input,
section {
  display: none;
}
section {
  padding: 1em;
  clear: both;
}
section p {
  font-size: 1.25em;
  line-height: 1.25em;
}

/* displays and styles 'label' tags (for radio button 'input' tags) */
label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  color: #888;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #eee;
  line-height: 3em;
  border-right: 1px solid #444;
}
label:last-of-type {
  border-right: none;
}
.fa {
  margin-right: .5em;
}
/* optional: hide tab text for smaller screens: */
label span {
  display: none;
}

/*
  Radio button label tags are clickable 'tabs' that show the sections.
  When selected, the related (~) section (IDs content1-3) is made 
  visible by changing its display from 'none' to 'block'.

  CSS ~ sibling selector:
  http://www.w3schools.com/cssref/sel_gen_sibling.asp
*/
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}
/* styles checked label elements (tabs) */
[id^="tab"]:checked + label {
  background: #ccc;
  color: #222;
}
[id^="tab"]:checked + label .fa {
  color: #090;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ccc;
}
footer p {
  padding: 0 1em;
  line-height: 1.5em;
  text-align: center;
}


/* optional tab content animation, can be omitted */
.tab_container section * {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  0% { 
  	opacity: 0;
  }
  100% { 
  	opacity: 1;
  }
}


/* --------- Basic responsive breakpoint --------- */

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 2em;
  }
  /* optional show tab text for larger screens: */
  label span {
    display: inline;
  }
}
