body {
  margin: 0;
  background: #fff;
}
h1 {
  font-size: 1.25em;
  text-align: center;
  background: #444;
  color: #eee;
  margin: 0;
  padding: 0.5em;
}
h2 {
  margin-top: 0;
}
/* leaves room for footer: */
main {
  padding-bottom: 2em;
}

/*
  Hides the radio buttons ('input' tags) themselves, but not
  their labels, which form the tabs.
  
  Also sets styles for the section tags and hides them.
*/
main > input,
section {
  display: none;
}
section {
  padding: 1em;
  clear: both;
}
section p {
  font-size: 1.25em;
  line-height: 1.25em;
}

/* displays and styles 'label' tags (for radio button 'input' tags) */
label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  color: #888;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #eee;
  line-height: 3em;
  border-right: 1px solid #444;
}
label:last-of-type {
  border-right: none;
}
.fa {
  margin-right: .5em;
}

/*
  The radio button label tags form the 'tabs' used to show the 
  sections - when clicked, the input tag 'checked' attribute 
  becomes true, so the section tags with IDs 'content1-3' can
  be targeted *in relation* to each radio button.

  This changes the display of specific section elements (with
  IDs 'content1-3') from 'none' to 'block', but *only when* the 
  associated and preceding (~) radio button becomes 'checked'. 

  For the CSS3 ~ selector see:
  http://www.w3schools.com/cssref/sel_gen_sibling.asp
*/
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}
/*
  Styles label elements (tabs) *only* when they're 'checked'
*/
[id^="tab"]:checked + label {
  background: #ccc;
  color: #222;
}
[id^="tab"]:checked + label .fa {
  color: #090;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ccc;
}
footer p {
  padding: 0 1em;
  line-height: 1.5em;
  text-align: center;
}


/*
  Basic animation:
  can be omitted without affecting tab function
*/

.tab_container section * {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% { 
  	opacity: 0;
  }
  100% { 
  	opacity: 1;
  }
}


/* --------- Basic responsive breakpoint --------- */

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 2em;
  }
  /* shows the tab text: */
  label span {
    display: inline;
  }
}
